<IfModule mod_rewrite.c>
    
    <IfModule mod_negotiation.c>
        # Disabilita MultiViews e Directory Index per evitare conflitti con le route
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Permette il passaggio dell'header Authorization (utile per API)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Permette il passaggio dell'header X-XSRF-Token (per protezione CSRF)
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Rimuove la barra finale dagli URL se non è una directory
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirige tutto a index.php se non è file o cartella reale
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
