includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - Modules
        - routes
        - tests

    excludePaths:
        - bootstrap/*
        - storage/*
        - vendor/*

    ignoreErrors:
        - '#Expected type .*Authenticatable.*Found .*Model.*#'
