@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./table.css";
@import "./themes.css";

@layer base {
    html {
        transition: background-color 0.3s, color 0.3s;
    }
    body {
        @apply h-full m-0 p-0;
        /* Qui usi hsl() perché ora le variabili sono in HSL! */
        background-color: hsl(var(--c-bg));
        color: hsl(var(--c-text));
        font-family: var(--font-sans);
    }
}
