/* ===================================================
TailwindCSS base, components, utilities
=================================================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================================================
Import custom styles (tabelle, temi, ecc.)
   =================================================== */
/* @import "./table.css";
@import "./themes.css"; */

/* ===================================================
Stili base (body, html, transizioni globali)
=================================================== */
@layer base {
    /* ----- Root HTML ----- */
    html {
        transition:
            background-color 0.3s,
            color 0.3s;
    }

    /* ----- Body base ----- */
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        /* Usa HSL per uniformità temi */
        background-color: hsl(var(--c-bg));
        color: hsl(var(--c-text));
        font-family: var(--font-sans);
    }

    /* ─────────────────────────────────────────
    Input number – hide native spinner
    ───────────────────────────────────────── */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    /* ─────────────────────────────────────────────────────────
    Date input: nasconde icona nativa (Chrome/Edge)
    ───────────────────────────────────────────────────────── */
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
    }
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 1.3s ease-in-out;
}

/* ===================================================
Fine personalizzazioni globali
=================================================== */
